.quarto-title-block .quarto-title-banner {
  background-image: url(images/logo-bachtel_2.jpg);
  background-size: 400px;
  background-position: right;
  background-repeat: no-repeat;
  background-origin: content-box;
}